<div class="footer1">
      <footer class="footer">
<img src="/static/img/homeimg/Add a heading.jpg" class="footerimg" >
<div class="uldiv">
<ul>
  <li><b>OFFICES</b></li>
  <li><a href="">DELHI</a></li>
  <li><a href="">MUMBAI</a></li>
  <li><a href="">BANGALORE</a></li>
  <li><a href="">HYDERABAD</a></li>
  <li><a href="">PUNE</a></li>
</ul>

<ul>
  <li><b>USEFUL LINKS</b></li>
  <li><a href="">POLICY</a></li>
  <li><a href="">FAQ</a></li>
  <li><a href="">SUGGESTIONS</a></li>
  <li><a href="">AWARDS & RECOGNITION</a></li>
  <li><a href="">CONTACT</a></li>
</ul>

<ul class="links">
  <li><b>SOCIAL</b></li>
  <li><a href=""><img src="/static/img/homeimg/insta.jpg" class="footimg" alt=""></a></li>
  <li><a href=""><img src="/static/img/homeimg/fb.png" class="footimg" alt=""></a></li>
  <li><a href=""><img src="/static/img/homeimg/twitter.png" class="footimg" alt=""></a></li>
  <li><a href=""><img src="/static/img/homeimg/linkedin.png" class="footimg" alt=""></a></li>
  <li><a href=""><img src="/static/img/homeimg/git.png" class="footimg" alt=""></a></li>
</ul>
</div>


      </footer>

      
<footer class="copyright">
  &copy; Copyright 2023 .FASTLIB
</footer>
</div>