<nav class="navbar">
      <img class=" img" src="" alt="">
        <ul>
          <li><a href="/home">HOME</a></li>
          <li><a href="#about">ABOUT US</a></li>
          <li><a href="/resources">RESOURCES</a></li>
          <li><a href="/support">SUPPORT</a></li>
        </ul>

  <input type="text"  placeholder="Search..">
<li class="profile"><a href="/profile"><img src="/static/img/homeimg/profile.png" class="profilenav"alt=""></a></li>
        
      </nav>