<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FASTLIB</title>
    <link rel="stylesheet" href="/static/css/nav.css">

   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    

<style>

  .size{
    width: 12px;
    height: 6px;
  }
.mySlides {display:none;
height: 475px;}
</style>
</head>
<body>
     {{>nav data=details}}
      
<h1>{{data.name}}</h1>
      <div class="w3-content w3-section " style="max-width:500px">
        <img class="mySlides" src="/static/img/homeimg/slide1.jpg" style="width: 1519px">
        <img class="mySlides" src="/static/img/homeimg/slide2.jpg" style="width:1519px">
        <img class="mySlides" src="/static/img/homeimg/slide3.jpg" style="width: 1519px;" >
      </div>



      <div class="container">
        <h1 class="about">WHAT WE OFFER!</h1>
        <div class="row">
          <div class="card1">
            <img src="/static/img/homeimg/download.jpg" class="size">
            <h1 class="about1">EDUCATION</h1>
            <p class="pcard">Discover spiritual enlightenment with our extensive collection of religious books. Dive deep into sacred texts, explore 
              profound teachings, and nurture your spiritual journey. Experience divine wisdom at your fingertips.
              Connect with the divine through the power of literature.
              Explore our vast collection of religious books. Immerse yourself in sacred texts, discover profound teachings, and embark 
              on a spiritual journey that enlightens and uplifts.</p>
          </div>
          <div class="card2">
            <img src="/static/img/homeimg/download.png" class="size">
            <h1 class="about1">SCIENCE FICTION</h1>
            <p class="pcard">Immerse yourself in the captivating world of science fiction. Journey through mind-bending concepts, epic adventures, and 
              futuristic realms. Explore the limitless possibilities of science and fiction merged into extraordinary tales.
              Embark on thrilling adventures through the realm of science fiction. Explore futuristic worlds, encounter advanced 
              technologies. Immerse yourself in captivating stories that push the boundaries 
              of science and fuel your sense of wonder..</p>
           
          </div>
          <div class="card3">
            <img src="/static/img/homeimg/562132.png" class="size">
            <h1 class="about1">TECHNOLOGY</h1>
            <p class="pcard">Unlock the Secrets of the Mind: Delve into the fascinating realm of psychology. Explore the complexities of human 
              behavior, delve into the realms of cognition and emotion, and gain profound insights into the workings of the mind. 
              Expand your understanding and deepen your knowledge with our psychology collection Unravel the Human Mind: Journey into the captivating world of psychology with our extensive collection of books. Explore 
               depths  human behavior.</p>
           
          </div>
          
        </div>

        <div class="row">
          <div class="card1">
            <img src="/static/img/homeimg/2942499.png" class="size">
            <h1 class="about1">ARCHITECHURE</h1>
            <p class="pcard">Unleash Architectural Brilliance: Immerse yourself in the captivating world of architecture. Discover iconic structures, 
              innovative designs, and the intersection of art and functionality. Explore the rich history, diverse styles, and visionary 
              concepts that shape the built environment in our architecture book collection.
             Immerse yourself in our extensive collection of architecture books and explore the inspiring.</p>
          </div>
          <div class="card2">
            <img src="/static/img/homeimg/forbidden.png" class="size">
            <h1 class="about1">MEDICAL </h1>
            <p class="pcard">Delve into the world of medicine with our comprehensive collection of books. Explore cutting-edge research, clinical 
              expertise, and healthcare advancements. Expand your understanding, stay informed, and empower yourself with the 
              latest medical insights from our vast library
              Access a wealth of medical knowledge with our extensive collection of books..</p>
           
          </div>
          <div class="card3">
            <img src="/static/img/homeimg/e3d10731e5f5c79e279583e3277dc036.jpg" class="size">
            <h1 class="about1">ASTROLOGY</h1>
            <p class="pcard">Unlock the Mysteries of the Stars: Dive into the captivating realm of astrology. Explore celestial wisdom, cosmic influences,
              and the ancient art of divination. Discover your cosmic potential and deepen your understanding of the universe with our 
              astrology collection.
              Immerse yourself in the captivating world of astrology. Explore celestial patterns, zodiac signs, and cosmic influences. 
              .</p>
           
          </div>
          
        </div>
        
      </div>


      <hr>
      <div id="about" class="aboutus">
        

        <div class="aboutsec">
          <img src="/static/img/homeimg/istockphoto-1311056729-170667a.jpg"   class="aboutimg1" alt="">
          <div class="aboutsec1">
            <h1 class="about">ABOUT US</h1>
          <p>At fastLib, we are dedicated to providing a comprehensive and accessible online library experience for book lovers 
            and knowledge seekers around the world. Our e-library is designed to cater to the needs of avid readers, students, 
            researchers, and anyone who values the power of books and information.</p>
          </div>
          
        </div>

        
        <div class="missionsec">
          <div class="missionsec1">
            <h1 class="about">OUR MISSION</h1>
            <p>Our mission is to foster a love for reading, promote lifelong learning, and make knowledge accessible to all. We 
              believe that books are a gateway to endless possibilities and that everyone deserves the opportunity to explore 
              and expand their horizons through literature with ease and grace</p>
          </div>
         
            <img src="/static/img/homeimg/istockphoto-1246979859-612x612.jpg"  class="aboutimg2" alt="">
        </div>

        
        <div class="offer1">
          <img src="/static/img/homeimg/istockphoto-1193274889-612x612.jpg"  class="aboutimg3" alt="">
          <div class="offer11">
            <h1 class="about">VAST-DIGITAL COLLECTION</h1>
            <p>Our e-Library houses a vast collection of eBooks, audiobooks, articles, journals, and other digital resources across a 
              wide range of genres, subjects, and languages. Whether you are interested in classic literature, contemporary 
              fiction, academic research, or self-improvement, you will find a wealth of materials to satisfy your reading 
              appetite.</p>
          </div>
          
        </div>

        
        <div class="offer2">
          <div class="offer22">
            <h1 class="about">USER FRIENDLY INTERFACE</h1>
            <p>We have designed our e-Library platform with user convenience in mind. Our intuitive interface allows you to 
              easily browse, search, and access our digital collection. With just a few clicks, you can dive into captivating stories, 
              immerse yourself in educational resources, or embark on intellectual adventures.</p>
          </div>
          
            <img src="/static/img/homeimg/blogpixan5-1024x1002-1.png"  class="aboutimg4" alt="">
        </div>

        <div class="offer3">
          <img src="/static/img/homeimg/young-girl-reading-book-vector-5105520.jpg"  class="aboutimg5" alt="">
          <div class="offer33">
            <h1 class="about">PERSONALIZED READING EXPERIENCE</h1>
            <p>We understand that every reader has unique preferences. That's why we offer personalized reading 
              recommendations based on your interests, browsing history, and previous reading choices. Discover new authors, 
              genres, or explore curated reading lists tailored to your tastes</p>
          </div>
          
        </div>
        <div class="offer4">
          <div class="offer44">
            <h1 class="about">COLLABORATIVE FEATURES</h1>
            <p>We understand that every reader has unique preferences. That's why we offer personalized reading 
              recommendations based on your interests, browsing history, and previous reading choices. Discover new authors, 
              genres, or explore curated reading lists tailored to your tastes</p>
          </div>
         
            <img src="/static/img/homeimg/istockphoto-1270559818-612x612.jpg"  class="aboutimg6" alt="">
        </div>

        <div class="offer5">
          <img src="/static/img/homeimg/istockphoto-1217821162-612x612.jpg"  class="aboutimg7" alt="">
          <div class="offer55">
            <h1 class="about">LEARNING RESOURCES</h1>
            <p>Engage with a vibrant community of readers through our interactive features. Join book clubs, participate in 
              discussion forums, share your thoughts and reviews, and connect with like-minded individuals who share your 
              passion for reading. Exchange recommendations, engage in literary conversations, and broaden your literary circle</p>
          </div>
          
        </div>

        <div class="offer6">
          <div class="offer66">
            <h1 class="about">RELIABLE SUPPORT</h1>
            <p>Engage with a vibrant community of readers through our interactive features. Join book clubs, participate in 
              discussion forums, share your thoughts and reviews, and connect with like-minded individuals who share your 
              passion for reading. Exchange recommendations, engage in literary conversations, and broaden your literary circle</p>
          </div>
      
            <img src="/static/img/homeimg/istockphoto-1158215759-612x612.jpg"  class="aboutimg8" alt="">
        </div>


     </div>



<hr>

{{>footer}}

      <script>
        var myIndex = 0;
        carousel();
        
        function carousel() {
          var i;
          var x = document.getElementsByClassName("mySlides");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          myIndex++;
          if (myIndex > x.length) {myIndex = 1}    
          x[myIndex-1].style.display = "block";  
          setTimeout(carousel, 2000); // Change image every 2 seconds
        }
        </script>      

      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>