<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESOURCES</title>
    <link rel="stylesheet" href="/static/css/nav.css">
    <link rel="stylesheet" href="/static/css/resources.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
 
</head>
<body>
   {{>nav}}
        
<div class="imgcont imgmargin">
  <img src="/static/img/resourceimg/Resource logo.jpg" alt="">
</div>
        <div id="large-th">
            <div class="container">
              <h1> BOOKS FOR YOU THIS WEEK !</h1>
              <br>
              
              <div id="list-th">
                <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b1.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Frankenstein<br>
                      <span class="author">Mary Shelley</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
                <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b2.jpg">
                  </div>
                  <div class="description">
                    <p class="title">A Little Princess<br>
                      <span class="author">Frances Hodgson Burnett</span></p>
                   <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
                <div class="book unread">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b3.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Roughing It</br>
                      <span class="author">Mark Twain</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
                <div class="book unread">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b4.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Bird By Bird</br>
                      <span class="author">Anne Lamott</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
          <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b5.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Girl at War</br>
                      <span class="author">Sara Novic</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
          <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b6.jpg">
                  </div>
                  <div class="description">
                    <p class="title">The Alchemist</br>
                      <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
                <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b7.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b8.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b9.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b10.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="imgcont imgmargin">
                    <img src="/static/img/resourceimg/B114.jpg" alt="">
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b11.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b12.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b13.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b14.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b15.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b16.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                 <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b17.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b18.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b19.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b20.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  
                  <div class="imgcont imgmargin">
                    <img src="/static/img/resourceimg/B112.jpg" alt="">
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b21.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b22.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b23.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b24.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b1.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b25.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                    <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b26.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b27.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b28.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b29.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b30.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b31.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b32.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b33.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b34.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="imgcont imgmargin">
                    <img src="/static/img/resourceimg/b111.jpg" alt="">
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b35.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b36.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b37.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b39.jpg">
                      
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b40.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                       <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b41.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b42.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b43.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b44.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b45.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b46.jpg">
                    </div>
                    <div class="description">
                      <p class="title">The Alchemist</br>
                        <span class="author">Paulo Coelho</span></p>
      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
          <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b47.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Anne of Green Gables</br>
                      <span class="author">Lucy Maud Montgomery</span></p>
                      <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
          <div class="book read">
                  <div class="cover">
                    <img src="/static/img/resourceimg/b48.jpg">
                  </div>
                  <div class="description">
                    <p class="title">Animal Farm</br>
                      <span class="author">George Orwell</span></p>
                     <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                  </div>
                </div>
                <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b49.jpg">
                    </div>
                    <div class="description">
                      <p class="title">Anne of Green Gables</br>
                        <span class="author">Lucy Maud Montgomery</span></p>
                    <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
                  <div class="book read">
                    <div class="cover">
                      <img src="/static/img/resourceimg/b50.jpg">
                    </div>
                    <div class="description">
                      <p class="title">Anne of Green Gables</br>
                        <span class="author">Lucy Maud Montgomery</span></p>
                        <a href="../profile/#issue">
                      <button class="issuebtn" href="">ISSUE</button></a>
                    </div>
                  </div>
              </div>
            </div>
          </div>

          {{>footer}}
</body>
</html>